.competition-detail-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    color: var(--color-text-white);
}

.competition-detail-header {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.competition-detail-content {
    flex: 1;
    overflow-y: auto;
}
