.teams-card {
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    transition : transform 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.team-card:hover {
    transform: translateY(-5px);
    border-color: var(--color-primary);
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.3);
}