body {
    background-color: #0d1a16; /* Le vert très sombre de ta maquette */
    font-family: 'Inter', sans-serif; /* Ou une police similaire */
    margin: 0;
}

.app-container {
    min-height: 100vh;
}

/* Supprime les bordures par défaut de Bootstrap sur les tables */
.table > :not(caption) > * > * {
    box-shadow: none !important;
}