:root {
  /* La palette FootReact */
  --color-bg-dark: #0f231a;
  --color-surface: #162c22;
  --color-border: #223d31;
  --color-primary: #00ff88;
  --color-text-muted: #64748b;
  --color-text-white: #ffffff;
}

/* le fond global de notre app ! */
body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-white);
  font-family: 'Lexend', sans-serif;
}